@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto:wght@500&display=swap');

* {
  margin: 0
}

body {
  display: flex;
  justify-content: center;
}

.centerer_page {
  width: 620px;
  height: 840px;
  border: 1px solid rgb(65, 65, 65);
  display: flex;
  font-family: 'Caveat', cursive;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 21px;
}

.centerer_page::after {
  content: '';
  position: absolute;
  background-image: url('tetr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.21;
  width: 620px;
  height: 840px;
  z-index: -1;
}

